
.movie img{
    border: 1px solid white;
    width: 184px;
    height: 280px;
}
.no_image{
    height: 280px;
    width: 184px;
    border: 1px solid white;
    color: white;
    
    word-wrap: break-all;
    white-space: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

