.list{
    height: 50%;
    width: 100%;
    display: inline-block;
}
.list ul{
    list-style-type:none;
    width: 98%;
    white-space:nowrap;
    overflow-x: scroll;
}

.list ul::-webkit-scrollbar{
    display: none;
}

.list li{
    display: inline-block;
    margin-right: 20px;
}

.list p{
    margin-left: 40px;
    font-size: 2em;
    color: white;
}
.list li p{
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 0px;
}
